<!DOCTYPE html>
<html lang="fr">

<head>
<title>- secret -</title>
<meta charset="UTF-8" />
</head>

<body>
<% include partials/navbar.ejs %> <!-- For the toolbar -->
<h1>Vous êtes l'Élu!</h1>
<h2>Mon mot de passe Facebook</h2>
<i>lecoursdeWEBSesttropbien!</i>
<div class="tenor-gif-embed" data-postid="4990055" data-share-method="host" data-width="100%" data-aspect-ratio="1.7785714285714287"><a href="https://tenor.com/view/hacker-man-hackerman-kung-fury-gif-4990055">Hacker Man GIF</a> from <a href="https://tenor.com/search/hacker-gifs">Hacker GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>

</body>
